In [1]:
# Import necessary libraries
import pandas as pd
import glob

In [2]:
# Merge all datasets into one complete CSV file
path = "/Users/trishulsathiyamoorthy/Desktop/sales_analysis/Sales_Data"
files = glob.glob(path + "/*.csv")

frames = []

for file in files:
    df = pd.read_csv(file, index_col=None, header=0)
    frames.append(df)

df = pd.concat(frames, axis=0, ignore_index=True)
df.columns
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [3]:
df.to_csv("sales.csv", encoding="utf-8")

In [4]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors="coerce")

In [6]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301"

In [7]:
# Find the month that had the most amount of sales
df["Month"] = df["Order Date"].dt.month

In [8]:
# Convert columns into floats to be able to calculations
df["Price Each"] = pd.to_numeric(df["Price Each"], errors="coerce")
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"], errors="coerce")

In [9]:
# Create a column to the dataframe that calculates the cost
df["Total Cost"] = df["Price Each"] * df["Quantity Ordered"]

In [10]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost
0,295665,Macbook Pro Laptop,1.0,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12.0,1700.00
1,295666,LG Washing Machine,1.0,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12.0,600.00
2,295667,USB-C Charging Cable,1.0,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12.0,11.95
3,295668,27in FHD Monitor,1.0,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12.0,149.99
4,295669,USB-C Charging Cable,1.0,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12.0,11.95
...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1.0,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6.0,2.99
186846,222906,27in FHD Monitor,1.0,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6.0,149.99
186847,222907,USB-C Charging Cable,1.0,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6.0,11.95
186848,222908,USB-C Charging Cable,1.0,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6.0,11.95
186849,222909,AAA Batteries (4-pack),1.0,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6.0,2.99

In [11]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [12]:
best_month = df.groupby("Month")["Total Cost"].sum().keys()[11]
total_sales = df.groupby("Month")["Total Cost"].sum().max()

In [13]:
print(f"Month {best_month} was the best month with ${'{0:.2f}'.format(total_sales)} dollars worth of sales")

Month 12.0 was the best month with $4613443.34 dollars worth of sales

In [14]:
df.groupby("Month")["Total Cost"].agg(["max", "min", "sum"])

          max  min        sum
Month
1.00  1999.98 2.99 1822256.73
2.00  1700.00 2.99 2202022.42
3.00  1700.00 2.99 2807100.38
4.00  3400.00 2.99 3390670.24
5.00  3400.00 2.99 3152606.75
6.00  3400.00 2.99 2577802.26
7.00  1700.00 2.99 2647775.76
8.00  1700.00 2.99 2244467.88
9.00  1700.00 2.99 2097560.13
10.00 1999.98 2.99 3736726.88
11.00 1700.00 2.99 3199603.20
12.00 1700.00 2.99 4613443.34

In [15]:
# EXERCISE: What US city had the highest number of sales

In [21]:
def get_state(address):
    """Extracts the state from a single address"""
    
    if type(address) != str:
        return None
    else:
        try:
            return address.split(", ")[2].split(" ")[0]
        except IndexError:
            return None

In [22]:
df["State"] = df["Purchase Address"].apply(get_state)

In [25]:
def get_city(address):
    """Extracts the city from a single address"""
    
    if type(address) != str:
        return None
    else:
        try:
            return address.split(", ")[1]
        except IndexError:
            return None

In [26]:
df["City"] = df["Purchase Address"].apply(get_city)

In [32]:
df["Location"] = df["City"] + ", " + df["State"]

In [39]:
total_sales = df.groupby("Location")["Total Cost"].sum().max()
city_with_maximum_sales = df.groupby("Location")["Total Cost"].sum().idxmax()

In [41]:
print(f"{city_with_maximum_sales} had the most amount of sales which totaled ${'{0:.2f}'.format(total_sales)}")

San Francisco, CA had the most amount of sales which totaled $8262203.91

In [43]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,City,State,Location
0,295665,Macbook Pro Laptop,1.00,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12.00,1700.00,New York City,NY,"New York City, NY"
1,295666,LG Washing Machine,1.00,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12.00,600.00,New York City,NY,"New York City, NY"
2,295667,USB-C Charging Cable,1.00,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12.00,11.95,New York City,NY,"New York City, NY"
3,295668,27in FHD Monitor,1.00,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12.00,149.99,San Francisco,CA,"San Francisco, CA"
4,295669,USB-C Charging Cable,1.00,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12.00,11.95,Atlanta,GA,"Atlanta, GA"
...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1.00,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6.00,2.99,Boston,MA,"Boston, MA"
186846,222906,27in FHD Monitor,1.00,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6.00,149.99,New York City,NY,"New York City, NY"
186847,222907,USB-C Charging Cable,1.00,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6.00,11.95,San Francisco,CA,"San Francisco, CA"
186848,222908,USB-C Charging Cable,1.00,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6.00,11.95,San Francisco,CA,"San Francisco, CA"
186849,222909,AAA Batteries (4-pack),1.00,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6.00,2.99,Atlanta,GA,"Atlanta, GA"

In [44]:
df.drop(columns=['City', 'State'], inplace=True)

In [45]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location
0,295665,Macbook Pro Laptop,1.00,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12.00,1700.00,"New York City, NY"
1,295666,LG Washing Machine,1.00,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12.00,600.00,"New York City, NY"
2,295667,USB-C Charging Cable,1.00,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12.00,11.95,"New York City, NY"
3,295668,27in FHD Monitor,1.00,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12.00,149.99,"San Francisco, CA"
4,295669,USB-C Charging Cable,1.00,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12.00,11.95,"Atlanta, GA"
...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1.00,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6.00,2.99,"Boston, MA"
186846,222906,27in FHD Monitor,1.00,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6.00,149.99,"New York City, NY"
186847,222907,USB-C Charging Cable,1.00,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA"
186848,222908,USB-C Charging Cable,1.00,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA"
186849,222909,AAA Batteries (4-pack),1.00,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6.00,2.99,"Atlanta, GA"

In [56]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location,Hour
0,295665,Macbook Pro Laptop,1.00,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12.00,1700.00,"New York City, NY",0.00
1,295666,LG Washing Machine,1.00,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12.00,600.00,"New York City, NY",7.00
2,295667,USB-C Charging Cable,1.00,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12.00,11.95,"New York City, NY",18.00
3,295668,27in FHD Monitor,1.00,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12.00,149.99,"San Francisco, CA",15.00
4,295669,USB-C Charging Cable,1.00,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12.00,11.95,"Atlanta, GA",12.00
...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1.00,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6.00,2.99,"Boston, MA",19.00
186846,222906,27in FHD Monitor,1.00,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6.00,149.99,"New York City, NY",19.00
186847,222907,USB-C Charging Cable,1.00,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA",18.00
186848,222908,USB-C Charging Cable,1.00,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA",18.00
186849,222909,AAA Batteries (4-pack),1.00,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6.00,2.99,"Atlanta, GA",14.00

In [57]:
df["Minute"] = df["Order Date"].dt.minute

In [58]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location,Hour,Minute
0,295665,Macbook Pro Laptop,1.00,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12.00,1700.00,"New York City, NY",0.00,1.00
1,295666,LG Washing Machine,1.00,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12.00,600.00,"New York City, NY",7.00,3.00
2,295667,USB-C Charging Cable,1.00,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12.00,11.95,"New York City, NY",18.00,21.00
3,295668,27in FHD Monitor,1.00,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12.00,149.99,"San Francisco, CA",15.00,13.00
4,295669,USB-C Charging Cable,1.00,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12.00,11.95,"Atlanta, GA",12.00,38.00
...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1.00,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6.00,2.99,"Boston, MA",19.00,2.00
186846,222906,27in FHD Monitor,1.00,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6.00,149.99,"New York City, NY",19.00,29.00
186847,222907,USB-C Charging Cable,1.00,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA",18.00,57.00
186848,222908,USB-C Charging Cable,1.00,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6.00,11.95,"San Francisco, CA",18.00,35.00
186849,222909,AAA Batteries (4-pack),1.00,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6.00,2.99,"Atlanta, GA",14.00,33.00

In [62]:
df["Minute"].dtype

dtype('float64')

In [69]:
multiple_sold = df[df["Quantity Ordered"] > 2]

In [70]:
multiple_sold

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location,Hour,Minute
9,295674,AAA Batteries (4-pack),4.00,2.99,2019-12-28 11:51:00,"77 7th St, Dallas, TX 75001",12.00,11.96,"Dallas, TX",11.00,51.00
22,295684,AAA Batteries (4-pack),4.00,2.99,2019-12-04 12:29:00,"936 Church St, San Francisco, CA 94016",12.00,11.96,"San Francisco, CA",12.00,29.00
46,295706,AAA Batteries (4-pack),3.00,2.99,2019-12-12 20:08:00,"599 Hill St, Los Angeles, CA 90001",12.00,8.97,"Los Angeles, CA",20.00,8.00
65,295725,AAA Batteries (4-pack),3.00,2.99,2019-12-05 15:01:00,"911 River St, San Francisco, CA 94016",12.00,8.97,"San Francisco, CA",15.00,1.00
91,295747,AA Batteries (4-pack),3.00,3.84,2019-12-10 21:50:00,"11 8th St, San Francisco, CA 94016",12.00,11.52,"San Francisco, CA",21.00,50.00
...,...,...,...,...,...,...,...,...,...,...,...
186605,222678,AA Batteries (4-pack),3.00,3.84,2019-06-07 18:51:00,"116 14th St, New York City, NY 10001",6.00,11.52,"New York City, NY",18.00,51.00
186641,222712,AAA Batteries (4-pack),4.00,2.99,2019-06-25 09:13:00,"936 Jackson St, Dallas, TX 75001",6.00,11.96,"Dallas, TX",9.00,13.00
186693,222762,AA Batteries (4-pack),3.00,3.84,2019-06-21 15:59:00,"204 Spruce St, Boston, MA 02215",6.00,11.52,"Boston, MA",15.00,59.00
186776,222841,Wired Headphones,3.00,11.99,2019-06-21 12:34:00,"602 River St, San Francisco, CA 94016",6.00,35.97,"San Francisco, CA",12.00,34.00
186780,222845,AA Batteries (4-pack),3.00,3.84,2019-06-29 08:58:00,"589 1st St, Atlanta, GA 30301",6.00,11.52,"Atlanta, GA",8.00,58.00

In [73]:
df["Order ID"].dtype

dtype('O')

In [74]:
df.sort_values(by="Order ID")

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location,Hour,Minute
137448,141234,iPhone,1.00,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",1.00,700.00,"Boston, MA",21.00,25.00
137449,141235,Lightning Charging Cable,1.00,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",1.00,14.95,"Portland, OR",14.00,15.00
137450,141236,Wired Headphones,2.00,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",1.00,23.98,"San Francisco, CA",13.00,33.00
137451,141237,27in FHD Monitor,1.00,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",1.00,149.99,"Los Angeles, CA",20.00,33.00
137452,141238,Wired Headphones,1.00,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",1.00,11.99,"Austin, TX",11.00,59.00
...,...,...,...,...,...,...,...,...,...,...,...
185795,NaN,NaN,nan,nan,NaT,NaN,nan,nan,NaN,nan,nan
185868,NaN,NaN,nan,nan,NaT,NaN,nan,nan,NaN,nan,nan
185887,NaN,NaN,nan,nan,NaT,NaN,nan,nan,NaN,nan,nan
185960,NaN,NaN,nan,nan,NaT,NaN,nan,nan,NaN,nan,nan
186580,NaN,NaN,nan,nan,NaT,NaN,nan,nan,NaN,nan,nan

In [78]:
df["Product"].value_counts()

USB-C Charging Cable          21903
Lightning Charging Cable      21658
AAA Batteries (4-pack)        20641
AA Batteries (4-pack)         20577
Wired Headphones              18882
Apple Airpods Headphones      15549
Bose SoundSport Headphones    13325
27in FHD Monitor               7507
iPhone                         6842
27in 4K Gaming Monitor         6230
34in Ultrawide Monitor         6181
Google Phone                   5525
Flatscreen TV                  4800
Macbook Pro Laptop             4724
ThinkPad Laptop                4128
20in Monitor                   4101
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Product                         355
Name: Product, dtype: int64

In [79]:
duplicates = df[df["Order ID"].duplicated(keep=False)]
duplicates

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Cost,Location,Hour,Minute
16,295681,Google Phone,1.00,600.00,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12.00,600.00,"Boston, MA",12.00,37.00
17,295681,USB-C Charging Cable,1.00,11.95,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12.00,11.95,"Boston, MA",12.00,37.00
18,295681,Bose SoundSport Headphones,1.00,99.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12.00,99.99,"Boston, MA",12.00,37.00
19,295681,Wired Headphones,1.00,11.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12.00,11.99,"Boston, MA",12.00,37.00
36,295698,Vareebadd Phone,1.00,400.00,2019-12-13 14:32:00,"175 1st St, New York City, NY 10001",12.00,400.00,"New York City, NY",14.00,32.00
...,...,...,...,...,...,...,...,...,...,...,...
186820,222882,AA Batteries (4-pack),1.00,3.84,2019-06-18 11:37:00,"990 Walnut St, Los Angeles, CA 90001",6.00,3.84,"Los Angeles, CA",11.00,37.00
186822,222884,Google Phone,1.00,600.00,2019-06-04 12:06:00,"819 Pine St, New York City, NY 10001",6.00,600.00,"New York City, NY",12.00,6.00
186823,222884,USB-C Charging Cable,1.00,11.95,2019-06-04 12:06:00,"819 Pine St, New York City, NY 10001",6.00,11.95,"New York City, NY",12.00,6.00
186842,222903,iPhone,1.00,700.00,2019-06-07 22:21:00,"685 Hickory St, New York City, NY 10001",6.00,700.00,"New York City, NY",22.00,21.00
186843,222903,Lightning Charging Cable,1.00,14.95,2019-06-07 22:21:00,"685 Hickory St, New York City, NY 10001",6.00,14.95,"New York City, NY",22.00,21.00